#demo1
    .bigbox
        .box
            width: 150px
            height: 80px
            border-radius: 6px
            background-color: #88637B
            font-size: 18px
            padding: 15px 
            color: #ffffff
            transition: 2s
            &:hover
                cursor: pointer
                border: 3px solid #88637B
                background-color: #444152
    @media screen and ( max-width:800px  )
        .bigbox
            .box
                background-color: #7485BF
                width: 75px
                height: 40px
                display: flex
                align-items: center
                justify-content: center

    @media screen and ( max-width:600px  )
        .bigbox
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
    @media screen and ( max-width: 500px  )
        .bigbox
            .box
                width: 60px
                height: 65px
                background-color: #750670
                padding: 10px 0 0 0
                font-size: 16px
                text-align: center
                display: block
        
